.table {
    border:  1px solid gray;
    margin-top: 50px;
    margin-left: 50px
}

.table h2{
    font-size: 20px;
    text-align: left;
    padding: 10px 20px;
    text-transform: uppercase;
}
.tableDesign{
    font-size: 14px;
    color: #3e3e52;
    font-weight: 600;
    padding: 14px;
    background-color: #f8f4f4;
    display: grid;
    grid-template-columns: 40% 10% 10% 10% 30%;
     column-gap: 50px;
}